<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I’m a software engineer skilled in Ruby on Rails, JavaScript, React.js, PostgreSQL, and HTML/CSS. I'm learning more about programing every day! I’m always interested in having a discussion and seeking for improvement, so feel free to contact me on contact page or leave comment on related post or project. ;)</p> 

  </div>
  <div class="col-2 homepage_content">
    <h2>Posts</h2>
    <hr>
    <% @posts.each do |post| %>
    <h3><a href="#"><%= link_to post.title, post %></a></h3>
    <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>Projects</h2>
    <hr>
    <% @projects.each do |project| %>
    <h3><a href="#"><%= link_to project.title, project %></a></h3>
    <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
</div>